@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #181417;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181417;
    --foreground: #ededed;
  }
}
.bg-gradient-ai {
  @apply bg-gradient-to-r from-pink-500 via-rose-400 to-orange-500;
}
.logo {
  background-image: linear-gradient(
          to left ,
          #ff7ebf 20%,
          #ffbb82 40%,
          #ff984b 60%,
          #ff7ebf 80%
  );
  background-size: 200%;
  color: transparent;
  -webkit-background-clip: text;
  animation: shine 15s infinite linear;
}

@keyframes shine {
  from {
    background-position: 0;
  }
  to {
    background-position: 200%;
  }

}