@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #201b1f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #201b1f;
    --foreground: #ededed;
  }
}
.logo_llm{
  text-shadow: #FFA500 2px 2px  0 ;
}
